---
import CardTags from "@components/CardTags";
import ContentContainer from "@components/ContentContainer.astro";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Navbar from "@components/Navbar.astro";
import Prose from "@components/Prose.astro";
import ShareLinks from "@components/ShareLinks.astro";
import {
  CalendarDaysIcon,
  PencilIcon,
  LinkIcon,
} from "@heroicons/react/24/solid";
import { Picture } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "layouts/Layout.astro";

export const getStaticPaths = async () => {
  const research = await getCollection("research");
  return research.map((r) => ({
    params: { research: r.slug },
    props: r,
  }));
};
type Props = CollectionEntry<"research">;

const { data, render } = Astro.props;
const { Content } = await render();
---

<Layout>
  <Navbar />
  <header class="pt-32 pb-6">
    <div
      class="max-w-6xl px-4 mx-auto flex flex-col items-start gap-y-6 gap-x-12 md:items-center md:flex-row"
    >
      <div>
        <CardTags type="research" tags={data.cities} />
        <h1 class="font-bold text-3xl md:text-5xl max-w-3xl mt-1">
          {data.title}
        </h1>
        <p class="text-gray-500 mt-2 text-lg">{data.publication}</p>
      </div>
      <div class="shrink-0">
        <div class="text-gray-500 flex items-center gap-1">
          <CalendarDaysIcon className="size-5 shrink-0" />
          <FormattedDate date={data.pubDate} />
        </div>
        <div class="text-gray-500 flex items-center gap-1">
          <PencilIcon className="size-5 shrink-0" />
          {data.authors}
        </div>
        <div class="text-gray-500 flex items-center gap-1">
          <LinkIcon className="size-5 shrink-0" />
          <a
            class="text-sky-800 hover:underline break-all"
            target="_blank"
            rel="noreferrer"
            href={data.link}
          >
            Link to paper
          </a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <ContentContainer class="min-h-lvh">
      <div class="max-w-6xl px-4 mx-auto">
        {
          data.heroImg && (
            <Picture
              class="rounded-2xl mb-6"
              src={data.heroImg}
              alt=""
              formats={["avif", "webp"]}
            />
          )
        }
        <div class="max-w-3xl mx-auto">
          <Prose>
            <Content />
          </Prose>
          <ShareLinks />
        </div>
      </div>
    </ContentContainer>
  </main>
  <Footer />
</Layout>
