---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "layouts/Layout.astro";
import ContentContainer from "@components/ContentContainer.astro";
import SectionHeader from "@components/SectionHeader.astro";
import { EnvelopeIcon, GlobeAltIcon } from "@heroicons/react/24/outline";
import { Picture } from "astro:assets";
import { getEntry } from "astro:content";
import * as PageHeader from "@components/PageHeader";

const cities = await getEntry("city", "cities");
const { data: team } = await getEntry("team", "team");
const allCities = cities.data.cities
---

<Layout title="Events">
  <Navbar />
  <PageHeader.Root>
    <PageHeader.Content>
      <h1 class="font-bold text-5xl">About</h1>
    </PageHeader.Content>
  </PageHeader.Root>
  <main>
    <ContentContainer>
      <div class="max-w-6xl px-4 mx-auto">
        <div
          class="min-h-lvh flex flex-col justify-center lg:grid lg:grid-cols-5 gap-x-12 gap-y-8 items-center"
        >
          <div
            class="flex flex-row md:flex-col items-center lg:max-h-max md:col-span-3"
          >
            {
              allCities.map((city) => {
                return (
                  <a
                    href={`/${city.name.toLowerCase()}`}
                    class="relative block md:h-52 rounded-full odd:mt-8 even:mb-8 overflow-hidden md:flex md:items-center md:odd:ml-12 md:even:mr-12 md:odd:mt-0 md:even:mb-0 md:max-w-lg lg:max-w-full lg:aspect-[24/9]"
                  >
                    <Picture
                      class="h-72 min-[468px]:h-96 object-cover md:object-fill md:h-full"
                      src={city.infoImg}
                      alt=""
                      formats={["avif", "webp"]}
                      loading="eager"
                    />
                    <div class="absolute rounded-full transition-opacity opacity-0 hover:opacity-100 top-0 bg-black/50 h-full w-full">
                      <div class="w-full h-full inline-flex flex-nowrap font-light text-white uppercase text-4xl italic">
                        <ul class="flex items-center justify-center md:justify-start [&_li]:mx-3 animate-marquee motion-reduce:animate-none">
                          {[...Array(8)].map((_) => {
                            return <li>{city.name}</li>;
                          })}
                        </ul>
                        <ul
                          class="flex items-center justify-center md:justify-start [&_li]:mx-3 animate-marquee motion-reduce:animate-none"
                          aria-hidden="true"
                        >
                          {[...Array(8)].map((_) => {
                            return <li>{city.name}</li>;
                          })}
                        </ul>
                      </div>
                    </div>
                  </a>
                );
              })
            }
          </div>
          <div class="lg:col-span-2 w-full">
            <SectionHeader title="Our vision" />
            <p class="mt-4 lg:mt-8">
              Our research seeks to understand the interaction between
              imaginations of the future, discourses of urban planning and
              pathways of urban development. Interdisciplinary in thrust, our
              research involves geography, sociology, history, and planning
              studies
            </p>
          </div>
        </div>
        <div
          class:list={[
            "mt-16",
            allCities.length >= 5 ? "lg:mt-16" : "lg:mt-0",
          ]}
        >
          <SectionHeader title="Our team" />
          <div class="grid grid-cols-1 mt-8 gap-x-3 gap-y-10 pb-12">
            {
              team.map((person) => {
                return (
                  <div class="flex flex-col min-[428px]:flex-row gap-y-2 w-full gap-x-6">
                    <div class="shrink-0">
                      <Picture
                        class="aspect-[1/1] max-h-48 min-[428px]:max-h-32 md:max-h-40 w-auto object-cover rounded-lg"
                        src={person.img}
                        alt=""
                      />
                    </div>
                    <div>
                      <h3 class="font-bold text-xl">{person.name}</h3>
                      <p class="text-gray-700 text-sm">{person.title}</p>
                      <div
                        class:list={[
                          "flex gap-1.5",
                          { "mt-1": !!person.email || !!person.website },
                        ]}
                      >
                        {person.email && (
                          <a
                            class="inline-block transition-colors hover:text-primary-600"
                            href={`mailto:${person.email}`}
                          >
                            <EnvelopeIcon className="size-6 stroke-current" />
                          </a>
                        )}
                        {person.website && (
                          <a
                            class="inline-block transition-colors hover:text-primary-600"
                            href={person.website}
                            target="_blank"
                            rel="noreferrer"
                          >
                            <GlobeAltIcon className="size-6 stroke-current" />
                          </a>
                        )}
                      </div>
                      <p class="mt-4 whitespace-pre-line">{person.description}</p>
                    </div>
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
    </ContentContainer>
    <Footer />
  </main>
</Layout>
