---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "layouts/Layout.astro";
import ContentContainer from "@components/ContentContainer.astro";
import SectionHeader from "@components/SectionHeader.astro";
import { EnvelopeIcon } from "@heroicons/react/24/outline";
import { Picture } from "astro:assets";
import { getEntry } from "astro:content";

const cities = await getEntry("city", "cities");
const { data: team } = await getEntry("team", "team");
---

<Layout title="Events">
  <Navbar />
  <header class="pt-32 pb-6 relative">
    <div class="max-w-6xl px-4 mx-auto">
      <div class="flex gap-1">
        <h1 class="font-bold text-5xl">Information</h1>
      </div>
    </div>
  </header>
  <main>
    <ContentContainer>
      <div class="max-w-6xl px-4 mx-auto">
        <div
          class="min-h-lvh flex flex-col justify-center lg:grid lg:grid-cols-5 gap-x-12 gap-y-8 items-center"
        >
          <div
            class="flex flex-row md:flex-col items-center lg:max-h-max md:col-span-3"
          >
            {
              cities.data.cities.map((city) => {
                return (
                  <a
                    href={`/${city.name.toLowerCase()}`}
                    class="relative block md:h-52 rounded-full odd:mt-8 even:mb-8 overflow-hidden md:flex md:items-center md:odd:ml-12 md:even:mr-12 md:odd:mt-0 md:even:mb-0 md:max-w-lg lg:max-w-full lg:aspect-[24/9]"
                  >
                    <Picture
                      class="h-72 min-[468px]:h-96 object-cover md:object-fill md:h-full"
                      src={city.infoImg}
                      alt=""
                      formats={["avif", "webp"]}
                      loading="eager"
                    />
                    <div class="absolute rounded-full transition-opacity opacity-0 hover:opacity-100 top-0 bg-black/50 h-full w-full">
                      <div class="w-full h-full inline-flex flex-nowrap font-light text-white uppercase text-4xl italic">
                        <ul class="flex items-center justify-center md:justify-start [&_li]:mx-3 animate-marquee motion-reduce:animate-none">
                          {[...Array(8)].map((_) => {
                            return <li>{city.name}</li>;
                          })}
                        </ul>
                        <ul
                          class="flex items-center justify-center md:justify-start [&_li]:mx-3 animate-marquee motion-reduce:animate-none"
                          aria-hidden="true"
                        >
                          {[...Array(8)].map((_) => {
                            return <li>{city.name}</li>;
                          })}
                        </ul>
                      </div>
                    </div>
                  </a>
                );
              })
            }
          </div>
          <div class="lg:col-span-2 w-full">
            <SectionHeader title="Our vision" />
            <p class="mt-4 lg:mt-8">
              Our research seeks to understand the interaction between
              imaginations of the future, discourses of urban planning and
              pathways of urban development. Interdisciplinary in thrust, our
              research involves geography, sociology, history, and planning
              studies
            </p>
          </div>
        </div>
        <div
          class:list={[
            "mt-16",
            cities.data.cities.length >= 5 ? "lg:mt-16" : "lg:mt-0",
          ]}
        >
          <SectionHeader title="Our team" />
          <div
            class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 mt-8 gap-x-3 gap-y-6 pb-12"
          >
            {
              team.map((person) => {
                return (
                  <div>
                    <Picture
                      class="aspect-[3/4] object-cover rounded-lg"
                      src={person.img}
                      alt=""
                    />
                    <h3 class="font-bold text-xl mt-1.5">John Doe</h3>
                    <p class="text-gray-700 text-sm">{person.description}</p>
                    {person.email && (
                      <a
                        class="inline-block transition-colors hover:text-sky-600"
                        href={`mailto:${person.email}`}
                      >
                        <EnvelopeIcon className="size-5 stroke-current mt-3" />
                      </a>
                    )}
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
    </ContentContainer>
    <Footer />
  </main>
</Layout>
