---
import type { CollectionEntry } from "astro:content";
import EventCard from "./EventCard";
import SectionHeader from "./SectionHeader.astro";
import { EVENTS_LATEST } from "consts";
import LinkButton from "@components/LinkButton.astro";

type Props = {
  events: CollectionEntry<"event">[];
  city?: string;
};

const { events, city } = Astro.props;
---

<SectionHeader title={`Upcoming events${city ? ` in ${city}` : ""}`} />
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-12 mt-6"
>
  {
    events
      .slice(0, EVENTS_LATEST)
      .map((event) => <EventCard slug={event.slug} data={event.data} />)
  }
</div>
<LinkButton
  to={`/events${city ? `?city=${city}` : ""}`}
  class="mt-8 mb-16"
  label={`View ${city ? "" : "all "}events ${city ? ` in ${city}` : ""}`}
/>
