---
import type { InferEntrySchema } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Picture } from "astro:assets";

type Props = InferEntrySchema<"event">;
const { title, description, eventDate, heroImg, cities } = Astro.props;
---

<article>
  <div class="flex items-center space-x-1">
    <span class="text-sm font-bold uppercase text-sky-600">Events</span>
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        class="size-4 stroke-gray-700/40"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9 20.247 6-16.5"></path>
      </svg>
    </span>
    {
      cities.map((city) => (
        <button class="text-sm bg-gray-200 px-2 py-0.5 rounded-lg">
          {city}
        </button>
      ))
    }
  </div>
  <h3 class="text-xl font-bold mt-1">
    {title}
  </h3>
  {
    heroImg && (
      <Picture
        class="rounded-lg aspect-video mt-2"
        src={heroImg}
        formats={["avif", "webp"]}
        alt=""
      />
    )
  }
  <p class="mt-2 text-gray-700">
    {description}
  </p>
  <div class="text-gray-500 mt-6">
    <FormattedDate date={eventDate} /> / 0 comments
  </div>
</article>
