---
import type { CollectionEntry } from "astro:content";
import EventCard from "./EventCard";
import SectionHeader from "./SectionHeader.astro";
import Button from "./Button.astro";
import { EVENTS_LATEST } from "consts";

type Props = {
  events: CollectionEntry<"event">[];
  city?: string;
  listOnly?: boolean;
};

const { events, city, listOnly = false } = Astro.props;
---

{
  !listOnly && (
    <SectionHeader title={`Upcoming events${city ? ` in ${city}` : ""}`} />
  )
}
<div
  class:list={[
    "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-7",
    { "mt-6": !listOnly },
  ]}
>
  {
    events
      .slice(0, EVENTS_LATEST)
      .map((event) => <EventCard slug={event.slug} data={event.data} />)
  }
</div>
{
  !listOnly && (
    <a href={`/events${city ? `?city=${city}` : ""}`}>
      <Button
        label={`View ${city ? "" : "all "}events ${city ? ` in ${city}` : ""}`}
        class="mt-8 mb-16"
      />
    </a>
  )
}
