---
import type { CollectionEntry } from "astro:content";
import NewsCard from "./NewsCard";
import SectionHeader from "./SectionHeader.astro";
import Button from "./Button.astro";

type Props = {
  news: CollectionEntry<"news">[];
  city?: string;
};

const { news, city } = Astro.props;
---

<SectionHeader title={`Latest news${city ? ` on ${city}` : ""}`} />
<div
  class="grid mt-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-7"
>
  {news.map((n) => <NewsCard slug={n.slug} data={n.data} />)}
</div>
<a href={`/news${city ? `?city=${city}` : ""}`}>
  <Button
    label={`View ${city ? "" : "all "}news ${city ? ` on ${city}` : ""}`}
    class="mt-8 mb-16"
  />
</a>
