---
import type { InferEntrySchema } from "astro:content";
import CardTags from "./CardTags.astro";
import FormattedDate from "./FormattedDate.astro";

type Props = InferEntrySchema<"research">;
const { title, abstract, publication, authors, pubDate, cities } = Astro.props;
---

<article class="grid grid-cols-1 md:grid-cols-5 gap-x-10">
  <div class="col-span-1 md:col-span-2">
    <CardTags type="research" tags={cities} />
    <h3 class="text-[22px] font-bold">{title}</h3>
    <p class="text-gray-500 mt-2">{authors}</p>
    <p class="text-gray-500">{publication}</p>
    <p class="text-gray-500 mt-6 hidden md:block">
      <FormattedDate date={pubDate} /> / 2 comments
    </p>
  </div>
  <div class="col-span-1 md:col-span-3">
    <p class="whitespace-pre-line">{abstract}</p>
  </div>
  <p class="text-gray-500 mt-6 block md:hidden">
    <FormattedDate date={pubDate} /> / 2 comments
  </p>
</article>
