---
import CardTags from "@components/CardTags";
import ContentContainer from "@components/ContentContainer.astro";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Navbar from "@components/Navbar.astro";
import Prose from "@components/Prose.astro";
import ShareLinks from "@components/ShareLinks.astro";
import { CalendarDaysIcon, UserGroupIcon } from "@heroicons/react/24/solid";
import { Picture } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "layouts/Layout.astro";

export const getStaticPaths = async () => {
  const events = await getCollection("event");
  return events.map((e) => ({
    params: { event: e.slug },
    props: e,
  }));
};
type Props = CollectionEntry<"event">;

const { data, render } = Astro.props;
const { Content } = await render();
---

<Layout>
  <Navbar />
  <header class="pt-32 pb-6">
    <div
      class="max-w-6xl px-4 mx-auto flex flex-col items-start gap-y-6 gap-x-12 md:items-center md:flex-row"
    >
      <div>
        <CardTags type="events" tags={data.cities} light />
        <h1 class="font-bold text-3xl md:text-5xl max-w-3xl mt-1">{data.title}</h1>
        <p class="text-gray-300 mt-2 text-lg">{data.description}</p>
      </div>
      <div class="shrink-0">
        <div class="text-gray-300 flex items-center gap-1">
          <CalendarDaysIcon className="size-5" />
          <FormattedDate date={data.eventDate} />
        </div>
        <div class="text-gray-300 flex items-center gap-1">
          <UserGroupIcon className="size-5" />
          {data.organisers.join(", ")}
        </div>
      </div>
    </div>
  </header>
  <main>
    <ContentContainer class="min-h-lvh">
      <div class="max-w-6xl px-4 mx-auto">
        {
          data.heroImg && (
            <Picture
              class="rounded-2xl mb-6"
              src={data.heroImg}
              alt=""
              formats={["avif", "webp"]}
            />
          )
        }
        <div class="max-w-3xl mx-auto">
          <Prose>
            <Content />
          </Prose>
          <ShareLinks />
        </div>
      </div>
    </ContentContainer>
  </main>
  <Footer />
</Layout>
