---
import CardTags from "@components/CardTags.astro";
import ContentContainer from "@components/ContentContainer.astro";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Navbar from "@components/Navbar.astro";
import { Picture } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "layouts/Layout.astro";

export const getStaticPaths = async () => {
  const events = await getCollection("event");
  return events.map((e) => ({
    params: { event: e.slug },
    props: e,
  }));
};
type Props = CollectionEntry<"event">;

const { data, render } = Astro.props;
const { Content } = await render();
---

<Layout>
  <Navbar />
  <header class="pt-32 pb-6 relative">
    <div class="max-w-6xl px-4 mx-auto">
      <CardTags type="events" tags={data.cities} />
      <h1 class="font-bold text-5xl max-w-3xl mt-1">{data.title}</h1>
      <p class="text-gray-500 mt-2">{data.description}</p>
      <p class="text-gray-500 mt-4">
        <FormattedDate date={data.eventDate} /> / 0 comments
      </p>
    </div>
  </header>
  <main>
    <ContentContainer class="min-h-dvh">
      <div class="max-w-6xl px-4 mx-auto">
        {
          data.heroImg && (
            <Picture
              class="rounded-2xl mb-6"
              src={data.heroImg}
              alt=""
              formats={["avif", "webp"]}
            />
          )
        }
        <Content />
      </div>
    </ContentContainer>
  </main>
  <Footer />
</Layout>
